<%= turbo_frame_tag 'fruits' do %>
  <%= link_to 'Apples', apples_path %>
  <%= link_to 'Grapes', grapes_path %>

  <ul>
    <% @grapes.each do |grape| %>
      <li><%= grape %></li>
    <% end %>
  </ul>
<% end %>